---
import Card from "./Card.astro";
const projects = [
  {
    title: "Whois Search",
    description:
      "An efficient and dependable tool was developed to enable users to effortlessly search for domain information.",
    tags: ["Vanilla", "RapidAPI", "Tailwind", "Vite"],
    thumbnail: "/img/whois.webp",
    link: "https://whoisapp.vercel.app",
    codeLink: "https://github.com/surdle/whois",
    stats: {
      webSize: "135kB",
      pageSpeedInsights: "100%",
    },
  },
  {
    title: "Student Management System",
    description:
      "This application enables users to perform common CRUD operations on student records.",
    tags: ["Python", "Flask"],
    thumbnail: "/img/students.webp",
    link: "https://surdle.pythonanywhere.com",
    codeLink: "https://github.com/surdle/flask-students",
    stats: {
      webSize: "135kB",
      pageSpeedInsights: "100%",
    },
  },
  {
    title: "Banking App",
    description:
      "It offers users functions such as registration, checking account movements and facilitating transfers for other uses.",
    tags: ["Preact", "Tailwind"],
    thumbnail: "/img/bank.webp",
    link: "https://bank.tres.run",
    codeLink: "https://github.com/surdle/bank",
    stats: {
      webSize: "135kB",
      pageSpeedInsights: "100%",
    },
  },
];
---

<section id="projects" class="">
  <div
    class="border-[rgb(31,32,47)] max-w-3xl self-center mx-auto my-[80px] sm:my-[90px] border-t"
  >
  </div>

  <article
    class="w-full max-w-3xl px-5 m-auto text-left sm:w-3/4 xl:w-4/6 2xl:w-3/5 sm:px-0"
  >
    <h2
      class="text-5xl font-bold leading-normal tracking-tight text-white text-effect"
    >
      Projects
    </h2>
    <p class="pt-3 mb-10 text-lg tracking-tight text-gray 2xl:pl-0">
      A list of the projects I've worked on or I'm currently working on.
    </p>
    <div class="grid gap-5 xl:grid-cols-2 place-content-center sm:mx-0">
      {projects.map((project, index) => <Card {project} key={index} />)}
    </div>
  </article>
</section>

<style>
  section {
    background: radial-gradient(
      ellipse 50% 50% at 70% 50%,
      rgba(169, 28, 148, 0.138),
      rgba(19, 136, 165, 0)
    );
  }
</style>
